

html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--background-color);

}

a{
  color: unset;
  text-decoration: none;
}

a:hover{
  color: unset;
}
