/* -----------------------persian-fonts---------------------h1 */

@font-face {
  font-family: "Beirut";
  src: url("../Fonts/Mj_Beirut.ttf") format("ttf"),
    url("../Fonts/Mj_Beirut.woff") format("woff"),
    url("../Fonts/Mj_Beirut.woff2") format("woff2");
}


@font-face {
  font-family: "Homa";
  src: url("../Fonts/BHoma.ttf") format("ttf"),
    url("../Fonts/BHoma.woff") format("woff"),
    url("../Fonts/BHoma.woff2") format("woff2");
}

@font-face {
  font-family: "koodak";
  src: url("../Fonts/KoodakB.ttf") format("ttf"),
    url("../Fonts/KoodakBold.woff") format("woff"),
    url("../Fonts/KoodakB.woff2") format("woff2");
}

@font-face {
  font-family: "promoter";
  src: url("../Fonts/Mj_Promoter.ttf") format("ttf"),
  url("../Fonts/Mj_Promoter.woff") format("woff"),
  url("../Fonts/Mj_Promoter.woff2") format("woff2");
}

@font-face {
  font-family: "casa";
  src: url("../Fonts/Mj_Casablanca.ttf") format("ttf"),
  url("../Fonts/Mj_Casablanca.woff") format("woff"),
  url("../Fonts/Mj_Casablanca.woff2") format("woff2");
}




/* -----------------------english-fonts---------------------h1 */
@font-face {
  font-family: "pop";
  src: url("../Fonts/MochiyPopOne-Regular.ttf") format("ttf"),
  url("../Fonts/MochiyPopOne-Regular.woff") format("woff"),
  url("../Fonts/MochiyPopOne-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "pin";
  src: url("../Fonts/Poppins-Medium.ttf") format("ttf"),
  url("../Fonts/Poppins-Medium.woff") format("woff"),
  url("../Fonts/Poppins-Medium.woff2") format("woff2");
}

