main {
  padding: 0px 20px;
}

.parg-main {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  background-color: white;
  box-shadow: var(--box-shadow);
}

.home-header {
  font-family: "promoter";
  font-size: 40px;
}

.home-sec-cont {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.home-sec-cont > div > div {
  display: flex;
  justify-content: center;
}

.homeH3 {
  font-family: "Beirut";
  font-size: 40px;
}

.homeH3 span {
  color: var(--color-web-base);
}

.home-sec-p {
  font-family: "koodak";
  font-size: 16px;
}

.home-sec-but {
  background-color: var(--color-web-base);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-family: "casa";
  font-size: 20px;
  transition: all 250ms;
}

.home-sec-but:hover{
  box-shadow: 0px 0px 8px 0px var(--color-web-base);
}


.home-sec-links {
  display: flex;
  justify-content: start;
  margin: 10px 0px;
  padding: 0px;
}

.home-sec-links li {
  list-style: none;
  margin: 0px 0px 0px 12px;
}

.home-sec-links i {
  font-size: 25px;
  color: var(--color-web-base);
}

.home-sec-links li:hover i {
  text-shadow: 0px 0px 3px rgb(142, 141, 255);
}

.shape {
  border-radius: 30% 70% 52% 48% / 30% 30% 70% 70%;
  background-color: var(--color-web-base);
  width: 350px;
  height: 350px;
  margin: 0px auto;
  overflow: hidden;
  transition: all 500ms;
}

.shape img {
  width: 270px;
  transition: all 500ms;
}

.shape:hover {
  transform: translateX(-15px);
}

.shape:hover img {
  transform: scale(1.2);
}

.angle-down-scroll{
  position: absolute;
  font-size: 25px;
  bottom: 16px;
  width: 100%;
  right: 0px;
  justify-content: center;
  display: flex;
  align-items: center;
  transform: scaleX(1.2);
  color: lightgrey;
}
.angle-down-scroll i:first-child{
  position: absolute;
  bottom: 12px;
  animation: downScroll1 1s ease infinite 20111ms forwards;
}
.angle-down-scroll i:nth-child(2){
  position: absolute;
  bottom: 6px;
  animation: downScroll2 1s ease infinite 20333ms forwards;
}
.angle-down-scroll i:last-child{
  position: absolute;
  bottom: 0px;
  animation: downScroll3 1s ease infinite 20555ms forwards;
}

@keyframes downScroll1{
  0%{color: lightgrey;}
  50%{color: #8f8f8f;}
  100%{color: lightgrey;}
}
@keyframes downScroll2{
  0%{color: lightgrey;}
  50%{color: #8f8f8f;}
  100%{color: lightgrey;}
}
@keyframes downScroll3{
  0%{color: lightgrey;}
  50%{color: #8f8f8f;}
  100%{color: lightgrey;}
}




@media (max-width: 576px) {
  .parg-main {
    padding: unset;
    box-shadow: unset;
    background-color: unset;
    border-radius: unset;
  }
  main {
    padding: 0px 0px;
  }
}
