main{
    padding: 0px 20px;
}

.parg-main{
    padding: 5px;
    border-radius: 15px;
    background-color: white;
    box-shadow: var(--box-shadow);
}

@media (max-width : 576px){
    .parg-main{
        padding: unset;
        box-shadow: unset;
        background-color: unset;
        border-radius: unset;
    }
    main{
        padding: 0px 0px;
    }
}